<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>

	<!-- CSS (load bootstrap from a CDN) -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Overlock:900italic' rel='stylesheet' type='text/css'>
	<style>
		body {
			font-family: 'Overlock', cursive;
		}
		#get-bro {
			cursor: pointer;
		}
		#submit-bro {
			//margin-left: 40%;
		}
	</style>
</head>
<body>
	<header>
		<!--<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
						{{ title }}
					</a>
				</div>
			</div>
			</nav>-->
	</header>
	<div class="jumbotron">
		<h2  class="text-center" id="greet-bro">Word, <span id="bro-text">{{ bro }}</span></h2>
		<span class="col-xs-offset-6 glyphicon glyphicon-flag text-center" id="flag-bro"></span>
	</div>
	<div class="container">
		<p class="text-center" id="get-bro">Not the bro you were looking for?</p>
		<div class="row">
			    <div class="col-xs-4 col-xs-offset-5">
			    	<input class="text-center" placeholder="Wanna add, bro?" id="submit-bro"></input>
				</div>
		</div>
	</div>
	<footer>
		<p class="text-center text-muted">Made for no reason by <a href="https://twitter.com/encima27i">encima</a>.</p>
	</footer>
      <script>
		  window.onload = function() {

			  function getMeABro() {
				  var getBro = new XMLHttpRequest();
				  getBro.open("GET", "/api/bro", true);

				  getBro.onreadystatechange = function() {
					   if(getBro.readyState == 4 && getBro.status == 200) {
						   wordBro.innerHTML = JSON.parse(getBro.responseText).bro;
					   }
				  }
				  getBro.send();
			  }
			var inputBro = document.getElementById('submit-bro');
			var wordBro = document.getElementById('bro-text');
			var flagBro = document.getElementById('flag-bro');
			var getNewBro = document.getElementById('get-bro');
			getNewBro.onclick = getMeABro;
          inputBro.onkeypress = function(e) {
            if(e.keyCode === 13) {
              var newBro = inputBro.value;
              var postBro = new XMLHttpRequest();
              var broParams = JSON.stringify({'bro':newBro});
              postBro.open("POST", "/api/bro", true);
              postBro.setRequestHeader("Content-type", "application/json");

			  postBro.onreadystatechange = function() {
	               if(postBro.readyState == 4 && postBro.status == 201) {
					   console.log(postBro.responseText);
					   wordBro.innerHTML = JSON.parse(postBro.responseText).bro;
					   inputBro.value = '';
					   inputBro.blur();
                   }else{
					console.log(postBro.responseText);
				   }
              }
              postBro.send(broParams);
            }
		}
			flagBro.onclick = function(e) {
				var flagBroReq = new XMLHttpRequest();
				flagBroReq.open("POST", "/api/bro/flag", true);
				flagBroReq.setRequestHeader("Content-type", "application/json");
				var broParams = JSON.stringify({'bro': wordBro.innerHTML.replace("Word, ", '')});
				flagBroReq.onreadystatechange = function() {
					console.log(flagBroReq.responseText);
					getMeABro();
				}
				flagBroReq.send(broParams);

			}
        }
    </script>
</body>
</html>
